<p>about works!</p>
<div class="container">
  <div class="row">
      <h1>Welcome to Budget Management Application</h1>
  </div>
  <div class="row col-sm-6">
      <p>Almost everyone wants to improve how they save and budget their money — and the tech world has taken notice by releasing a steady stream of financial tools to lend a hand. We sifted through several budget apps and selected the most helpful ones.</p>
  </div>
  <div class="row col-sm-6">
      <p>Whether you need an app that subscribes you to a specific budgeting method or one that simply lets you know when your bank account is running low, the solution is on this list. Bonus: Many of these tools are free, and all are available on iOS and Android devices.</p>
  </div>
   <div class="row col-sm-6">
       <p>If you need help reining in your spending and getting your personal finances under control, a budgeting app may be just what you need. There are many budgeting apps to choose from, each fighting to distinguish itself from the others.</p>
   </div>
</div>
