<div class="container center">
  <!-- <app-breadcrumbs></app-breadcrumbs> -->
  <div class="page-area" id="maincontent">


      <app-article>
          <h1>Stay on track</h1>
          <div>Do you know where you are spending your money? If you really stop to track it down, you would get surprised! Proper budget management depends on real data... and this app will help you with that!'</div>
      </app-article>

       <app-article>
           <h1>Alerts</h1>
           <div>The number of money management, personal finance, and budgeting apps is large, so it helps to know which ones are designed with the most users in mind while offering exclusive tools for those with unique needs. We’ve done the hard work for you, creating a list of the best budgeting apps out there.</div>
       </app-article>


      <app-article>
          <h1>Free</h1>
          <div>This app is free!!! And you are the only one holding your data!</div>
      </app-article>


      <app-article>
          <h1>Results</h1>
          <div>It comes with a wide range of features, the most useful being its budgeting tools, which lie front and center when you log in. Mint automatically categorizes transactions from linked credit and debit cards and tracks them against a budget you can tweak and customize to your needs.</div>
      </app-article>

      <app-article>
          <div class="container">
              <app-hometable></app-hometable>
          </div>
      </app-article>

      <app-article>
          <h1>Distribution of Current Budget</h1>
          <div>
              <canvas id="myChart" width="400" height="400" style="width:350px;height:350px"></canvas>
          </div>
      </app-article>

      <app-article>
          <h1>Distribution of Budget</h1>
          <div>
              <canvas id="myMaxBudgetChart" width="400" height="400" style="width:350px;height:350px"></canvas>
              <app-maxbudgetchart></app-maxbudgetchart>
          </div>
      </app-article>


      <app-article>
          <h1>Expected and Actual Budget</h1>
          <div>
              <app-dualbar></app-dualbar>
          </div>

      </app-article>

      <!-- <app-article>
          <div class="container">
              <app-line-chart></app-line-chart>
              <h1>Line Chart</h1>
          </div>
      </app-article> -->

  </div>
</div>
<!-- <app-addbudget></app-addbudget> -->
<!-- <div class="container">
  <div class="row">
      <h1>Want to add a new expense? Click here</h1>
      <button (click)="navigateToAddBudget()">Add New Expense</button>
  </div>
</div> -->
